@using Assignment1_BeginningMVC_MirzaRahman_NetCore2_2.Models;
@model Request;

@{
    ViewData["Title"] = "RequestForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ///Allows the creation and submission of a new request
    ///All Entered data is validated through the controller, the Request object is then created and added to Repository
    ///Afterwards user is redirected to confirmation page
}
    <div class="form-group">
        <h1>Request Form</h1>
    </div>
<p id="ErrorMessage" class="alert-danger" name="ErrorMessage">@ViewBag.ErrorMessage</p>
<form method="post" class="alert-primary" asp-action="validateRequestForm">
    <div class="form-group">
        <label class="active" for="name">Name:</label>
        <input class="form-control" name="Name" asp-for="@Model.Name"/>
    </div>
    <div class="form-group">
        <label for="name">Email:</label>
        <input class="form-control" name="Email" asp-for="@Model.Email"/>
    </div>
    <div class="form-group">
        <label for="name">Phone Number:</label>
        <input class="form-control" name="PhoneNumber" asp-for="@Model.PhoneNumber"/>
    </div>
    <div class="form-group">
        <label for="name">Role:</label>
        <select class="form-control" id="Role" name="Role" asp-for="@Model.Role">
            <option>Student</option>
            <option>Professor</option>
        </select>
    </div>
    <div class="form-group">
        <label for="name">Equipment Types: </label>
        <select class="form-control" asp-for="@Model.EquipmentType" asp-items="Html.GetEnumSelectList<EquipmentType>()" id="EquipmentType" name="EquipmentType">
        </select>
    </div>
    <div class="form-group">
        <label for="name">Request Details:</label>
        <input class="form-control" name="RequestDetails" asp-for="@Model.RequestDetails"/>
    </div>
    <div class="form-group">
        <label for="name">Duration:</label>
        <input class="form-control" name="Duration" asp-for="@Model.Duration"/>
    </div>
    <button class="btn btn-primary center-block text-center" type="submit">Submit</button>
</form>


